* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #fcfaf5;
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  overflow-x: hidden;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e0dbd3;
  width: 95vw;
  margin: 0 auto;
  padding: 1rem 1rem 1.5rem 1rem;
  border-radius: 30px;
  box-shadow: 0px 4px 12px rgba(158, 158, 158, 0.155);
  /* overflow: hidden; */
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65vw;
  margin: 0 auto;
}
section {
  width: 100%;
  padding: 2rem 0;
  border-bottom: 1px solid #e0dbd3;
}
h2 {
  color: #3b1d62;
  font-family: "Special Gothic", sans-serif;
  font-weight: 500;
}
iframe {
  height: 600px;
  width: 90%;
  margin-top: 1rem;
}
#name-header {
  color: hsl(20, 15%, 12%);
  font-family: "Special Gothic", sans-serif;
  letter-spacing: 0.01em;
  text-shadow: 6px 0 9px rgba(174, 174, 174, 0.5);
}
.nav-link {
  font-family: "Special Gothic", sans-serif;
  color: #3b1d62;
  text-decoration: none;
  font-weight: 600;
  text-shadow: 6px 0 9px rgba(174, 174, 174, 0.5);
  transition: color 0.15s linear;
}
.nav-link:hover {
  color: #5f2f9d;
}
nav {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

p {
  font-family: "Inter", sans-serif;
  color: #2c2420;
}

.download-pdf {
  color: #5f2f9d;
  font-family: "Special Gothic", sans-serif;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.15s linear;
}

.download-pdf:hover {
  color: #8c4eca;
}
footer {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem;
}

svg {
  width: 40px;
  height: 40px;
  color: hsl(20, 15%, 12%);
  stroke-width: 2;
  transition: color 0.15s linear;
}
svg:hover {
  color: #5f2f9d;
}

/* smaller screens - not mobile */
@media (max-width: 800px) {
  iframe {
    height: 400px;
  }
}

/* mobile */
@media (max-width: 480px) {
  iframe {
    display: none;
    /* height: 400px; */
  }
}
